*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 20px;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    align-items: center;
    text-align: center;
}
#hero h2{
    font-size: 3rem;
}
#hero p{
    margin: 20px 0;
}
button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}
button{
    transition: 0.3s ;
}
#features{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px 20px;
    gap: 20px;
    padding: 50px 20px;
}
.card{
    padding: 20px;
    border-radius: 10px;
}
.card{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
img{
    width: 100%;
    
}
@media(max-width: 768px){
    #hero{
        flex-direction: column;
    }
    #features{
        grid-template-columns: 1fr;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
}
html{
    scroll-behavior: smooth;   
}
button{
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
.button-cont{
    display: flex;
    justify-content: center;
}